<html>  
<head>  
<title>Car Details</title>  
</head>  
<body> 
<p>File Name: {{name}}</p>  
<p>Car Number: {{carn}}</p>  
<p>Vehicle Description: {{vehdesc}}</p>  
<p>Car Registration Date: {{regdate}}</p> 
<p>Vehicle Registration Year: {{reg}}</p>  
<p>Car Fuel Type: {{fuelType}}</p> 
<p>Vehicle Type: {{vehType}}</p> 
<p>Vehicle Location: {{loc}}</p> 
<p>Car Make: {{carDesc}}</p> 
<p>Car Model: {{carModel}}</p> 
<p>Car Variant: {{carVariant}}</p> 
<p>Car Engine Size: {{carEngineSize}}</p> 
<p>Number Of Seats in Car: {{NumberOfSeats}}</p> 
<p>Vechile Identification Number: {{vehIDnum}}</p> 
<p>Car Engine Number: {{engNo}}</p>
</body>  
</html>  